.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}

.card img {
    width: 100%;
    object-fit: cover;
    display: block;
}

.page-home .card img {
    height: 30vh;
}

.page-about  .card img {
    height: 40vh;
}

.card-body {
    padding: 10px;
}

.card-body .card-title {
    margin: 0;
}

.card-desc {
    margin: 20px 0;
}

.cards {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.btn-start {
    background-color: rgba(56, 182, 255, 1);
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

header .navbar,
section,
footer .footer-grid,
footer .copyright {
    padding-left: 150px;
    padding-right: 150px;
    box-sizing: border-box;
}

