body.error-page {
    background-image: url("/assets/images/bg.png");
    background-size: cover;
    margin: 0;
}

section.error-page,
section.login-page,
section.register-page {
    height: 100vh;
    width: 100vw;
}

.error-form {
    background-color: #fff;
    border-radius: 10px;
    padding: 16px;
    width: 30vw;
    text-align: center;
}

.login-form {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    width: 30vw;
}

.register-form {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    width: 40vw;
}

.error-form a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: rgba(56, 182, 255, 1);
    color: white;
    border-radius: 8px;
    padding: 10px 0;
    width: 100%;
}

.error-form h1 {
    color: rgba(33, 37, 41, 1);
    margin-bottom: 5vh;
}

.error-form p {
    color: rgba(33, 37, 41, 1);
    padding: 8px;
    margin-bottom: 2vh;
}

.form-group input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 16px;
}

.form-control {
    margin-top: 8px;
}

.btn-login,
.btn-register {
    background-color: rgba(56, 182, 255, 1);
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

.btn-back {
    background-color: rgba(255, 255, 255, 1);
    color: #000;
    border: none;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

.login-form a,
.register-form a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #000;
    justify-content: center;
    margin-top: 20px;
}

.register-form .flex.justify-between .form-group {
    width: 48%;
}

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.hidden {
    display: none;
}

.align-center {
    align-items: center;
}

.list-style-none {
    list-style: none;
}

li.nav-item:hover,
.btn:hover {
    background-color: #ccc;
    color: #fff
}

li.nav-item:hover>a {
    color: #fff;
}

a.nav-link {
    padding: 10px;
    text-decoration: none;
    color: black;
    display: block;
}

.btn {
    padding: 10px 20px;
    display: block;
}

header {
    border-bottom: 1px solid #ccc;
}

.authenticated {
    position: relative;
    display: inline-block;
}

.profile-dropdown {
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 0;
    margin: 0;
    min-width: 150px;
    list-style: none;
    display: none;
}

.profile-dropdown li:first-child {
    border-radius: 5px 5px 0 0;
}

.profile-dropdown li:last-child {
    border-radius: 0 0 5px 5px;
}

.authenticated:hover .profile-dropdown {
    display: block;
}

.authenticated .dropdown-item {
    padding: 10px;
}

.authenticated .dropdown-item:hover {
    background: #ccc;
}

.hero-cta a {
    text-decoration: none;
    background-color: rgba(56, 182, 255, 1);
    color: white;
    border-radius: 5px;
    padding: 10px 20px;

}

.hero-grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
}

.hero-illustration img {
    max-width: 100%;
    height: auto;
    display: block;
}

.text-center {
    text-align: center;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;
}

.btn-start {
    background-color: rgba(56, 182, 255, 1);
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

.card-body {
    padding: 10px;
}

.card img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    display: block;
}

.card-body .card-title {
    margin: 0;
}

.card-desc {
    margin: 20px 0;
}

.cards {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 20px;
    border-bottom: 1px solid #ccc;
    align-items: flex-start;
}

.footer-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.footer-links,
.contact-list {
    padding: 0;
    margin: 0;
}

.footer-links li,
.contact-list li {
    list-style: none;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.footer-links li a {
    text-decoration: none;
    color: rgba(56, 182, 255, 1);
}

.contact-list li img {
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.contact-list li {
    color: rgba(56, 182, 255, 1);
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    max-width: 1200px;
    box-sizing: border-box;
}

.input-group {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background: #fff;
}

.input-group input {
    flex: 1;
    border: none;
    padding: 12px;
    font-size: 16px;
    outline: none;
    min-width: 0;
}

.input-group button {
    border: none;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    background: rgba(56, 182, 255, 1);
}

.page-grid {
    display: grid;
    grid-template-areas:
        "menu header"
        "menu content"
        "menu footer";
    grid-template-columns: 240px 1fr;
    gap: 20px;
    max-width: 1200px;
    padding: 16px;
    margin: 0 auto;
    box-sizing: border-box;
}

.user-container .page-grid .sidebar {
    grid-area: menu;
    position: sticky;
    top: 16px;
    height: calc(100vh - 32px);
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    padding: 16px;
}

.sidebar-title {
    margin: 0 0 12px;
    font-size: 18px;
    font-weight: 600;
}

.sidebar-list {
    list-style: none;
    margin: 0px;
    padding: 0;
}

.sidebar-item {
    padding: 10px 12px;
    border-radius: 6px;
    cursor: pointer;
}

.sidebar-item:hover {
    background: #ccc;
}

.sidebar-list img {
    margin-right: 15px;

}

/* ========== MAIN CONTENT (content) ========== */
.panel {
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    padding: 15px;
}

.panel-header {
    font-weight: 600;
    padding-bottom: 15px;
    border-bottom: 1px dashed #ccc;
}

.panel-actions {
    justify-content: flex-end;
    gap: 10px;
    margin-top: 12px;
}

/* Table */
.table {
    width: 100%;
    font-size: 14px;
}

.table th,
.table td {
    padding: 10px;
    text-align: left;
}

.table thead th {
    font-weight: 600;
}

.table-actions .action {
    border: none;
    background: transparent;
    font-size: 16px;
    padding: 0;
}

.table-actions .action img {
    height: 16px;
    width: 16px;
}

/* Pagination */
.pagination-row {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.select-sm {
    height: 32px;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    padding: 0 8px;
    background: #fff;
}

.pagination {
    display: flex;
    align-items: center;
    gap: 6px;
}

.page-btn {
    min-width: 32px;
    height: 32px;
    border: 1px solid #cbd5e1;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
}

.page-btn.is-active {
    background: #e6f4ff;
    border-color: #38B6FF;
}

.page-total {
    margin-left: 8px;
    color: #6b7280;
}

.btn-icon-clear img, .btn-icon-search img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
}

.btn-icon-clear {
    background: #fff;
    border: 1px solid #ccc;
    color: black;
    border-radius: 5px;
    padding: 10px;
    height: 42px;
}

.btn-icon-search {
    background: rgba(56, 182, 255, 1);
    border: 1px solid #ccc;
    color: white;
    border-radius: 5px;
    padding: 10px;
    height: 42px;
}